// 河北
.hebei {
  position: absolute;

  // top: 178px;
  // left: 415px;
  // top: 26%;
  left: 50.5%;
  bottom: 46%;
  .province {
    left: 150px;
  }
  .modal {}
}
// 山西
.shanxi {
  // top: 195px;
  // left: 350px;
  // top: 28%;
  left: 48%;
  bottom: 44%;
  
  .province {
    left: 150px;
  }
  .modal {}
}
// 辽宁
.liaoning {
  // top: 135px;
  // left: 555px;
  // top: 22%;
  left: 58%;
  bottom: 50%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -140px;
  }
}
// 吉林
.jilin {
  // top: 110px;
  // left: 585px;
  // top: 18%;
  left: 60%;
  bottom: 54%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -180px;
  }
}
// 黑龙江
.heilongjiang {
  // top: 65px;
  // left: 615px;
  // top: 11%;
  left: 61.5%;
  bottom: 59%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -180px;
  }
}
// 江苏
.jiangsu {
  // top: 280px;
  // left: 525px;
  // top: 33%;
  left: 56%;
  bottom: 38%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -120px;
  }
}
// 浙江
.zhejiang {
  // top: 370px;
  // left: 530px;
  // top: 42%;
  left: 57%;
  bottom: 31%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -120px;
  }
}
// 安徽
.anhui {
  // top: 325px;
  // left: 458px;
  // top: 37.5%;
  left: 53.5%;
  bottom: 35%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -50px;
  }
}
// 福建
.fujian {
  // top: 415px;
  // left: 485px;
  // top: 47%;
  left: 54.7%;
  bottom: 25%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -78px;
  }
}
// 江西
.jiangxi {
  // top: 390px;
  // left: 432px;
  // top: 45%;
  left: 51%;
  bottom: 27%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -28px;
  }
}
// 山东
.shandong {
  // top: 225px;
  // left: 500px;
  // top: 28%;
  left: 55%;
  bottom: 43%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 河南
.henan {
  // top: 265px;
  // left: 388px;
  // top: 33%;
  left: 49.3%;
  bottom: 39%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 湖北
.hubei {
  // top: 325px;
  // left: 365px;
  // top: 37.3%;
  left: 47%;
  bottom: 35%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 湖南
.hunan {
  // top: 380px;
  // left: 345px;
  // top: 44%;
  left: 48.2%;
  bottom: 28%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 广东
.guangdong {
  // top: 438px;
  // left: 400px;
  // top: 51%;
  left: 49.5%;
  bottom: 20%;
}
// 海南
.hainan {
  // top: 540px;
  // left: 320px;
  // top: 57.8%;
  left: 45.5%;
  bottom: 14%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 四川
.sichuan {
  // top: 350px;
  // left: 165px;
  // top: 39%;
  left: 38%;
  bottom: 32%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 贵州
.guizhou {
  // top: 395px;
  // left: 240px;
  // top: 46%;
  left: 42%;
  bottom: 26%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 云南
.yunnan {
  // top: 435px;
  // left: 130px;
  // top: 49%;
  left: 36.5%;
  bottom: 23%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 陕西
.shanxi-3 {
  // top: 285px;
  // left: 295px;
  // top: 33%;
  left: 44.5%;
  bottom: 39%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 甘肃
.gansu {
  // top: 232px;
  // left: 205px;
  left: 40%;
  bottom: 41%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 青海
.qinghai {
  // top: 235px;
  // left: 80px;
  // top: 32%;
  left: 32%;
  bottom: 41%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 台湾
.taiwan {
  // top: 450px;
  // left: 540px;
  left: 58%;
  bottom: 22%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -132px;
  }
}

// 内蒙古
.neimenggu {
  // top: 150px;
  // left: 250px;
  left: 38%;
  bottom: 50%;
  
  .province {
    left: 150px;
  }
  .modal {
  }
}
// 广西
.guangxi {
  // top: 460px;
  // left: 290px;
  left: 44.3%;
  bottom: 20%;
  
  .province {
    left: 150px;
  }
  .modal {
  }
}
// 西藏
.xizang {
  // top: 320px;
  // left: -20px;
  // top: 37%;
  left: 24%;
  bottom: 35%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: 50px;
  }
}
// 宁夏
.ningxia {
  // top: 31%;
  left: 42%;
  bottom: 44%;
  
  .province {
    left: 150px;
  }
  .modal {

  }
}
// 新疆
.xinjiang {
  // top: 20%;
  // left: 27%;
  left: 27%;
  bottom: 54%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: 50px;
  }
}
// 兵团-新疆 额外添加的 新疆域内
.bingtuan {
  // top: 22%;
  left: 23%;
  bottom: 53%;
  .province {
    left: '150px';
  }
  .modal {
    left: '80px'
  }
}

// 北京
.beijing {
  // top: 22%;
  left: 52%;
  bottom: 50%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -30px;
  }
}
// 天津
.tianjin {
  // top: 24%;
  left: 53.6%;
  bottom: 49%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -40px;
  }
}
// 上海
.shanghai {
  // top: 35%;
  left: 58%;
  bottom: 35%;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -140px;
  }
}
// 重庆
.chongqing {
  left: 43.4%;
  bottom: 32%;
  
  .province {
    left: 150px;
  }
  .modal {

  }
}

// 香港
.xianggang {
  left: 51%;
  bottom: 18%;
  
  .province {
    left: 150px;
  }
  .modal {

  }
}
// 澳门
.aomen {
  left: 48.5%;
  bottom: 17%;
  .province {
    left: 150px;
  }
  .modal {

  }
}
