// 河北
.hebei {
  position: absolute;
  top: 228px;
  left: 415px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {}
}
// 山西
.shanxi {
  top: 245px;
  left: 365px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {}
}
// 辽宁
.liaoning {
  top: 185px;
  left: 550px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -140px;
  }
}
// 吉林
.jilin {
  top: 145px;
  left: 595px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -180px;
  }
}
// 黑龙江
.heilongjiang {
  top: 90px;
  left: 595px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -180px;
  }
}
// 江苏
.jiangsu {
  top: 320px;
  left: 525px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -120px;
  }
}
// 浙江
.zhejiang {
  top: 390px;
  left: 525px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -120px;
  }
}
// 安徽
.anhui {
  top: 325px;
  left: 455px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -50px;
  }
}
// 福建
.fujian {
  top: 445px;
  left: 485px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -78px;
  }
}
// 江西
.jiangxi {
  top: 410px;
  left: 432px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -28px;
  }
}
// 山东
.shandong {
  top: 265px;
  left: 472px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 河南
.henan {
  top: 305px;
  left: 388px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 湖北
.hubei {
  top: 355px;
  left: 360px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 湖南
.hunan {
  top: 410px;
  left: 350px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 广东
.guangdong {
  top: 488px;
  left: 400px;
  .bar-box {
    left: 160px;
  }
}
// 海南
.hainan {
  top: 580px;
  left: 320px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 四川
.sichuan {
  top: 360px;
  left: 160px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 贵州
.guizhou {
  top: 425px;
  left: 260px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 云南
.yunnan {
  top: 475px;
  left: 150px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 陕西
.shanxi-1 {
  top: 305px;
  left: 290px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 甘肃
.gansu {
  top: 272px;
  left: 210px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 青海
.qinghai {
  top: 270px;
  left: 80px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 台湾
.taiwan {
  top: 490px;
  left: 540px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -132px;
  }
}

// 内蒙古
.neimenggu {
  top: 180px;
  left: 290px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
  }
}
// 广西
.guangxi {
  top: 480px;
  left: 290px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
  }
}
// 西藏
.xizang {
  top: 350px;
  left: -50px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: 50px;
  }
}
// 宁夏
.ningxia {
  top: 245px;
  left: 250px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {

  }
}
// 新疆
.xinjiang {
  top: 170px;
  left: -50px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: 50px;
  }
}

// 北京
.beijing {
  top: 210px;
  left: 440px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -30px;
  }
}
// 天津
.tianjin {
  top: 230px;
  left: 450px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -40px;
  }
}
// 上海
.shanghai {
  top: 345px;
  left: 550px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {
    left: -140px;
  }
}
// 重庆
.chongqing {
  top: 375px;
  left: 280px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {

  }
}

// 香港
.xianggang {
  top: 525px;
  left: 405px;
  .bar-box {
    left: 160px;
    top: 150px;
  }
  .province {
    left: 150px;
  }
  .modal {

  }
}
// 澳门
.aomen {
  top: 525px;
  left: 365px;
  .bar-box {
    left: 160px;
  }
  .province {
    left: 150px;
  }
  .modal {

  }
}
