// 河北
.hebei {
  position: absolute;
  // top: 228px;
  top: 178px;
  left: 415px;
  
  .province {
    left: 150px;
  }
  .modal {}
}
// 山西
.shanxi {
  // top: 245px;
  top: 195px;
  left: 350px;
  
  .province {
    left: 150px;
  }
  .modal {}
}
// 辽宁
.liaoning {
  // top: 185px;
  top: 135px;
  left: 555px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -140px;
  }
}
// 吉林
.jilin {
  // top: 140px;
  top: 110px;
  left: 585px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -180px;
  }
}
// 黑龙江
.heilongjiang {
  top: 65px;
  // left: 595px;
  left: 615px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -180px;
  }
}
// 江苏
.jiangsu {
  // top: 320px;
  top: 280px;
  left: 525px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -120px;
  }
}
// 浙江
.zhejiang {
  // top: 410px;
  top: 370px;
  left: 530px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -120px;
  }
}
// 安徽
.anhui {
  // top: 345px;
  top: 325px;
  left: 458px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -50px;
  }
}
// 福建
.fujian {
  // top: 445px;
  top: 415px;
  left: 485px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -78px;
  }
}
// 江西
.jiangxi {
  // top: 410px;
  top: 390px;
  left: 432px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -28px;
  }
}
// 山东
.shandong {
  // top: 265px;
  top: 225px;
  left: 500px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 河南
.henan {
  top: 265px;
  left: 388px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 湖北
.hubei {
  // top: 355px;
  top: 325px;
  left: 365px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 湖南
.hunan {
  // top: 410px;
  top: 380px;
  left: 345px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 广东
.guangdong {
  // top: 488px;
  top: 438px;
  left: 400px;
  
}
// 海南
.hainan {
  // top: 580px;
  top: 540px;
  left: 320px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 四川
.sichuan {
  // top: 360px;
  top: 350px;
  left: 165px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 贵州
.guizhou {
  // top: 425px;
  top: 395px;
  left: 240px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 云南
.yunnan {
  // top: 475px;
  top: 435px;
  left: 130px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 陕西
.shanxi-3 {
  // top: 305px;
  top: 285px;
  left: 295px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 甘肃
.gansu {
  // top: 272px;
  top: 232px;
  left: 205px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 青海
.qinghai {
  // top: 270px;
  top: 235px;
  left: 80px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -65px;
  }
}
// 台湾
.taiwan {
  // top: 490px;
  top: 450px;
  left: 540px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -132px;
  }
}

// 内蒙古
.neimenggu {
  // top: 180px;
  top: 150px;
  left: 290px;
  
  .province {
    left: 150px;
  }
  .modal {
  }
}
// 广西
.guangxi {
  // top: 480px;
  top: 460px;
  left: 290px;
  
  .province {
    left: 150px;
  }
  .modal {
  }
}
// 西藏
.xizang {
  top: 320px;
  left: -20px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: 50px;
  }
}
// 宁夏
.ningxia {
  // top: 245px;
  top: 225px;
  left: 245px;
  
  .province {
    left: 150px;
  }
  .modal {

  }
}
// 新疆
.xinjiang {
  top: 170px;
  left: -50px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: 50px;
  }
}
// 兵团-新疆 额外添加的 新疆域内
.bingtuan {
  top: 180px;
  left: -100px;
  .province {
    left: '150px';
  }
  .modal {
    left: '80px'
  }
}

// 北京
.beijing {
  top: 155px; // 防止遮蔽，向上稍微偏移 210px 为准确地点
  left: 440px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -30px;
  }
}
// 天津
.tianjin {
  top: 190px;
  left: 460px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -40px;
  }
}
// 上海
.shanghai {
  // top: 345px;
  top: 325px;
  left: 555px;
  
  .province {
    left: 150px;
  }
  .modal {
    left: -140px;
  }
}
// 重庆
.chongqing {
  // top: 375px;
  top: 345px;
  left: 268px;
  
  .province {
    left: 150px;
  }
  .modal {

  }
}

// 香港
.xianggang {
  // top: 525px;
  top: 485px;
  left: 405px;
  
  .province {
    left: 150px;
  }
  .modal {

  }
}
// 澳门
.aomen {
  // top: 525px;
  top: 485px;
  left: 365px;
  
  .province {
    left: 150px;
  }
  .modal {

  }
}
